receivers:
  fiddler:
    endpoint: ""
    token: ""
    interval: "3600s"
    enabled_metric_types: ["traffic", "drift", "service_metrics", "performance", "statistic", "data_integrity"]
    offset: "24h"

exporters:
  debug:
    verbosity: detailed

  otlphttp:
    endpoint: "http://mimir:9009/otlp"
    headers:
      "X-Scope-OrgID": "tenant-1"
    encoding: json

service:
  pipelines:
    metrics:
      receivers: [fiddler]
      exporters: [otlphttp, debug]

  telemetry:
    logs:
      level: debug
    metrics:
      level: detailed
